logfile: "/tmp/popeye.log"
loglevel: `DEBUG`

app_name: "popeye"

db_name: "video_dev_1"
db_user: "popeye_dev"
db_pass: "&uhq3V7peaBAhExT"
db_conn: "@testpub.c9azfz8yt9lz.us-west-2.rds.amazonaws.com/"
db_verbose: True

mp_token: 'aaeab0c46192750b89eecddefd0331f4'
mp_web_token: '404b9a0b96b8147b5050c165dfc809b3'
mp_deployment: 'local'

VPWSuffix: 'Local'
UniqueTaskList: ''

awsAccess: 'AKIAJHD46VMHB2FBEMMA'
awsSecret: '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'

bucket_name: "viblio-uploaded-files"

viblio_server_url: "http://staging.viblio.com/services/na/mediafile_create"

site_secret: 'viblio321'
