logfile: "/tmp/popeye.log"
loglevel: `DEBUG`

db_name: "video_dev_1"
db_user: "video_dev_1"
db_pass: "video_dev_1"
db_conn: "@testpub.c9azfz8yt9lz.us-west-2.rds.amazonaws.com/"
db_verbose: True

awsAccess: 'AKIAJHD46VMHB2FBEMMA'
awsSecret: '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'

bucket_name: "viblio-uploaded-files"

viblio_server_url: "http://staging.viblio.com/services/na/mediafile_create"

site_secret: 'viblio321'
