logfile: "/tmp/popeye.log"
loglevel: `DEBUG`

app_name: "popeye"

db_name: "video_dev_1"
db_user: "popeye_dev"
db_pass: "&uhq3V7peaBAhExT"
db_conn: "@testpub.c9azfz8yt9lz.us-west-2.rds.amazonaws.com/"
db_verbose: True


mp_token: '80c959f9343b174b0e4a2fc7819da9b1'
mp_web_token: '6954c354aa38909f812ed12d1b425e60'
mp_deployment: 'local'

VPWSuffix: 'Local'
UniqueTaskList: ''

awsAccess: 'AKIAJHD46VMHB2FBEMMA'
awsSecret: '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'

bucket_name: "viblio-uploaded-files"

viblio_server_url: "http://staging.viblio.com/services/na/mediafile_create"

site_secret: 'viblio321'

email_queue: 'email_local'
sqs_region: 'us-west-2'
