logfile: "/tmp/popeye-prod.log"
loglevel: `DEBUG`

db_name: "video_dev"
db_user: "video_dev"
db_pass: "video_dev"

db_conn: "@videos.c9azfz8yt9lz.us-west-2.rds.amazonaws.com:3306/"
db_verbose: False

VPWSuffix: 'Prod'

mp_deployment: 'prod'

bucket_name: 'viblio-mediafiles'
viblio_server_url: 'http://prod.viblio.com/services/na/mediafile_create'
