logfile: "/tmp/viblio-local.log"

# Viblio web app stuff
viblio_server_url: "https://staging.viblio.com/services/na/mediafile_create"

# Viblio Face Detection Configurations
fb_link_queue: 'user_fb_link_local'

# New user creation stuff
new_account_creation_queue: 'new_account_creation_local'

# Amazon SWF stuff
VPWSuffix: 'Local'
UniqueTaskList: 'steve5'
