logfile: "/tmp/viblio-local.log"

# Viblio web app stuff
viblio_server_url: "https://staging.viblio.com/services/na/mediafile_create"

# Viblio Face Detection Configurations
fb_link_queue: 'user_fb_link_local'

# Viblio Face Detection Configurations
# Use the staging namespace even for local face recognition.
#recog_l1_namespace: 'recog_l1_local'
#recog_l2_namespace: 'recog_l2_local'
recog_queue: 'recognition_local'

# New user creation stuff
new_account_creation_queue: 'new_account_creation_local'

# Amazon SWF stuff
VPWSuffix: 'Local'
UniqueTaskList: 'mjhayward4'
