logfile: "/tmp/viblio-prod.log"
loglevel: `DEBUG`

# Viblio Web App Stuff
bucket_name: 'viblio-mediafiles'
viblio_server_url: 'http://prod.viblio.com/services/na/mediafile_create'

# Viblio Face Detection Configurations
fb_link_queue: 'user_fb_link_prod'

# Mixpanel Stuff
mp_deployment: 'prod'

# AWS Stuff

# Mechanical Turk Stuff
ImageServer: 'https://prod.viblio.com/s/ip/'

# RDS Stuff
db_name: "video_dev"
db_user: "vwf_prod"
db_pass: "R5j*ApW2pcF*xNsK"
db_conn: "@videos.c9azfz8yt9lz.us-west-2.rds.amazonaws.com:3306/"
db_verbose: False

# SWF Stuff
VPWSuffix: 'Prod'



