logfile: "/tmp/viblio-prod.log"
loglevel: `DEBUG`

# Viblio Web App Stuff
bucket_name: 'viblio-mediafiles'
viblio_server_url: 'https://viblio.com/services/na/mediafile_create'
create_fb_album_url: 'https://viblio.com/services/na/create_fb_album'

# Viblio Activity Detection Configuration
soccer_model_dir: '/deploy/prod/soccer_model'
christmas_model_dir: '/deploy/prod/christmas_model'

# Viblio Face Detection Configurations
fb_link_queue: 'user_fb_link_prod'

# Viblio Face Detection Configurations
recog_l1_namespace: 'recog_l1_prod'
recog_l2_namespace: 'recog_l2_prod'
recog_v2_namespace: 'recog_v2_prod'
recog_queue: 'recognition_prod'

# SQS Stuff
new_account_creation_queue: 'new_account_creation_prod'
smile_creation_queue: 'smile_creation_prod'
album_summary_creation_queue: 'album_summary_creation_prod'
email_queue: 'email_prod'
build_video_summary_queue: 'build_video_summary_prod'
create_fb_album_queue: 'create_fb_album_prod'

# Mixpanel Stuff
mp_token: 'aaeab0c46192750b89eecddefd0331f4'
mp_web_token: '404b9a0b96b8147b5050c165dfc809b3'
mp_deployment: 'prod'

# Media Stuff
viblio_media_user_id: 954
summary_music_album_title: 'SummaryMusic'

# AWS Stuff

# Mechanical Turk Stuff
ImageServer: 'https://viblio.com/s/ip/'

# RDS Stuff
db_name: "video_dev"
db_user: "vwf_prod"
db_pass: "R5j*ApW2pcF*xNsK"
db_conn: "@videos.c9azfz8yt9lz.us-west-2.rds.amazonaws.com:3306/"
db_verbose: False

# SWF Stuff
VPWSuffix: 'Prod'



