logfile: "/tmp/viblio-staging.log"

# Viblio Web App Stuff
viblio_server_url: "https://staging.viblio.com/services/na/mediafile_create"

# Viblio Activity Detection Configuration
soccer_model_file: '/deploy/staging/soccer_model'

# Mixpanel Stuff
mp_deployment: 'staging'

# AWS Stuff

# S3 Stuff
bucket_name: "viblio-uploaded-files"

# SWF Stuff
VPWSuffix: 'Staging'