logfile: "/tmp/viblio.log"
loglevel: `DEBUG`

# Viblio Web App Stuff
viblio_server_url: "http://staging.viblio.com/services/na/mediafile_create"
site_secret: 'viblio321'

# Mixpanel Stuff
mp_token: 'aaeab0c46192750b89eecddefd0331f4'
mp_deployment: 'local'

# AWS Stuff
awsAccess: 'AKIAJHD46VMHB2FBEMMA'
awsSecret: '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'

# Mechanical Turk Stuff
ViblioQualificationTypeId: '2EA1XERSQV6AYZXSTYUHYWAVKM791C'
MergeHITTypeId: '2PCIA0RYNJ96UXSXBA2MMTUHYKA837'
RecognizeHITTypeId: '2SVYU98JHSTPIHTBQGA9LOBJE7ZDPU'
ImageServer: 'https://staging.viblio.com/s/ip/'

# RDS Stuff
db_name: "video_dev_1"
db_user: "video_dev_1"
db_pass: "video_dev_1"
db_conn: "@testpub.c9azfz8yt9lz.us-west-2.rds.amazonaws.com/"
db_verbose: True

# S3 Stuff
bucket_name: "viblio-uploaded-files"

# SWF Stuff
VPWSuffix: 'Local'

