logfile: "/tmp/viblio.log"
loglevel: `DEBUG`

# Viblio Web App Stuff
viblio_server_url: "https://staging.viblio.com/services/na/mediafile_create"
site_secret: 'viblio321'

# Viblio Face Detection Configurations
recog_l1_namespace: 'recog_l1_staging'
recog_l2_namespace: 'recog_l2_staging'
recog_queue: 'recognition_staging'

# Viblio Face Recognition Configuration
faces_dir: '/mnt/faces/'
fb_link_queue: 'user_fb_link'

# Viblio Activity Detection Configuration
activity_dir: '/mnt/object_classification'
soccer_model_dir: '/deploy/local/soccer_model'
christmas_model_dir: '/deploy/local/christmas_model'

# New user creation stuff
new_account_creation_queue: 'new_account_creation_staging'
smile_creation_queue: 'smile_creation_staging'
email_queue: 'email_staging'

# Transcoding Stuff
transcode_dir: '/mnt/uploaded_files/'

# Mixpanel Stuff
mp_token: 'aaeab0c46192750b89eecddefd0331f4'
mp_web_token: '404b9a0b96b8147b5050c165dfc809b3'
mp_deployment: 'local'

# Monitoring Stuff
monitoring_user: 'critical-alerts@viblio.com'
monitoring_password: 'BygMVWVfT9sy8hR3'
pipeline_status_domain: 'Viblio/Pipeline'
pipeline_status_metric: 'PipelineOK'
pipeline_test_video: 'heartbeat.mp4'
pipeline_title: 'heartbeat'

# Facebook Stuff
fb_endpoint: 'https://graph.facebook.com/'

# ReKognition Stuff
rekog_api_key: 'zdN9xO1srMEFoEsq'
rekog_api_secret: 'bvi5Li9bcQPE3W5S'
rekog_namespace: 'FB'

# AWS Stuff
awsAccess: 'AKIAJHD46VMHB2FBEMMA'
awsSecret: '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'

# CloudWatch stuff
cloudwatch_region: 'us-west-2'
swf_domain: 'Viblio/SWF'
swf_queue_metric: 'QueueDepth'

# Mechanical Turk Stuff
ViblioQualificationTypeId: '2EA1XERSQV6AYZXSTYUHYWAVKM791C'
MergeHITTypeId: '2GZR70G5R98HFXB6PCNSVTNYC4DBRF'
RecognizeHITTypeId: '2GZR70G5R98HFXB6PCNSVTNYC4DBRF'
ImageServer: 'https://staging.viblio.com/s/ip/'

# RDS Stuff
db_name: "video_dev_1"
db_user: "vwf_dev"
db_pass: "@zjwS3F8CDRm6Bs!"
db_conn: "@testpub.c9azfz8yt9lz.us-west-2.rds.amazonaws.com/"
db_verbose: True

# S3 Stuff
bucket_name: "viblio-uploaded-files"

# SQS Stuff
sqs_region: 'us-west-2'

# SWF Stuff
VPWName: 'VideoProcessing'
VPWSuffix: 'Local'
UniqueTaskList: ''
