logfile: "/tmp/viblio.log"
loglevel: `DEBUG`

# Viblio Web App Stuff
viblio_server_url: "https://staging.viblio.com/services/na/mediafile_create"
site_secret: 'viblio321'

# Viblio Face Detection Configurations
faces_dir: '/mnt/faces/'
fb_link_queue: 'user_fb_link'

# Mixpanel Stuff
mp_token: 'aaeab0c46192750b89eecddefd0331f4'
mp_deployment: 'local'

# Facebook Stuff
fb_endpoint: 'https://graph.facebook.com/'

# ReKognition Stuff
rekog_api_key: 'zdN9xO1srMEFoEsq'
rekog_api_secret: 'bvi5Li9bcQPE3W5S'
rekog_namespace: 'FB'

# AWS Stuff
awsAccess: 'AKIAJHD46VMHB2FBEMMA'
awsSecret: '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'

# Mechanical Turk Stuff
ViblioQualificationTypeId: '2EA1XERSQV6AYZXSTYUHYWAVKM791C'
MergeHITTypeId: '2PCIA0RYNJ96UXSXBA2MMTUHYKA837'
RecognizeHITTypeId: '2SVYU98JHSTPIHTBQGA9LOBJE7ZDPU'
ImageServer: 'https://staging.viblio.com/s/ip/'

# RDS Stuff
db_name: "video_dev_1"
db_user: "vwf_dev"
db_pass: "@zjwS3F8CDRm6Bs!"
db_conn: "@testpub.c9azfz8yt9lz.us-west-2.rds.amazonaws.com/"
db_verbose: True

# S3 Stuff
bucket_name: "viblio-uploaded-files"

# SQS Stuff
sqs_region: 'us-west-2'

# SWF Stuff
VPWSuffix: 'Local'

